#about{
  display: flex;
  flex-direction: column;
}

.aboutWrapper {
  display: grid;  
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  grid-template-rows: auto;
  margin-bottom: auto;
  margin-top: auto;
  transform: translateY(-100px);
}

.aboutContent {
  grid-column: 1/2;
  text-align: left;
  color: rgba(10, 10, 10, 0.8);
  font-size: 20px;
  line-height: 35px;
  font-family: "Roboto";
}

.aboutPictureWrapper{
  display: flex;
  justify-content:center ;
  grid-column: 2/3;
}

.aboutPicture {
  
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.sectionCaptionAbout {
  margin-top: 34px;
  text-align: center;
  color: var(--primary-brown);
  font-size: 56px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0px;
}



.aboutContent > .strong-text {
  text-align: center;
  margin: 10px 0px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: minmax(64px, 70px);
  column-gap: 80px;
  row-gap: 15px;
  justify-content: center;
}

.icon > img {
  height: 64px;
  width: 64px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .aboutWrapper{
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    transform: translateY(0);
    row-gap: 50px;
  }

  .aboutContent{
    width: 85vw;
    grid-column: 1/2;
    font-size: 17px;
    text-align: center;
  }

  .aboutPictureWrapper{
    grid-column: 1/2;
    width: 85vw;
  }

  .icon-grid{
    grid-template-columns: repeat(3,auto);
    column-gap: 50px;
  }

  .sectionCaptionAbout{
    font-size: 40px;
    margin-top: 25px;
  }


}