.aboutPicture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.sectionCaption {
  text-align: center ;
  color: var(--primary-brown);
  font-size: 56px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0px ;
}

.aboutContent {
  text-align: left;
  color: rgba(10, 10, 10, 0.8);
  font-size: 20px;
  line-height: 35px;
  font-family: "Roboto";
}

.aboutContent > .strong-text {
  text-align: center;
  margin: 10px 0px;
}

.icon-grid{
  display: grid;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: minmax(64px, 70px);
  column-gap: 80px;
  row-gap: 15px;
  justify-content: center
}

.icon > img {
  height: 64px;
  width: 64px;
}
