@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap&family=Josefin+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


:root {
  --primary-blue-100: #0088cc;
  --primary-green: #cedb00;
  --primary-blue-bg: rgba(0, 136, 204, 0.8);
  --primary-brown: #CC7100;
  --primary-blue-200: #005580;
  --primary-grey-bg: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8),
    rgba(200, 200, 200, 0.2)
  );
}


#journey,#home,#portfolio,#contact{
  margin-top: 0px;
  padding-top: 65px;

}

#journey {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 50px;
}

#home {
  padding-top: 85px;
  width: 100vw;
  padding-bottom: 65px;
}

#portfolio {
  width: 100vw;
  min-height: 100vh;
  background: var(--primary-grey-bg);
}


#about {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-grey-bg)
}

span[class="carousel-control-next-icon"], span[class="carousel-control-prev-icon"]{
  visibility: hidden;
  background-color: transparent !important;
  color:transparent !important;
}

ol[class="carousel-indicators"]{
  display: none;
}